@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .display-flex{
    display: flex;
  }
  .list-item{
    margin-right: 30px;
    list-style: none;
  }
  .list-link{
    text-decoration: none;
    font-weight: 500px;
  }
  .brand{
    font-weight: 700;
    font-size: 3rem;
    
  }
  .colour-gray{
    color: #424242;
  }
  .colour-black{
    color: #727272;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);;
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  /* banner relative  */
  .div-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
 }
 .banner-title{
    font-size: 4rem;
    font-weight: 700;
 }
 .banner-disciption{
    color: #727272;
 }
 .button-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
 }
 .banner-image{
    width: 100%;
 }
 /* responsive media */

 @media screen and (max-width: 576px) {
    .navbar, 
    .list-link, 
    .teams{
        flex-direction: column;
    }
    .team-image-container, 
    .fact-container,
    .sponsor-companies
    {
        grid-template-columns: 1fr;
    }
    .fact-container{
      justify-items: center;
      gap: 24px;
    }

    .sponsor-companies{
      justify-items: center;
      gap: 50px;
    }



    .of-our{
      margin-left: 20px;
    }
    
 }

 /* medium device */

 @media screen and (min-width: 576px and max-width: 992px) {
  .teams{
    flex-direction: column;
  }

  .of-our{
    margin: 50 auto;
  }
  
 }
  
 

 /* section relatibve */

 .text-primary{
  color: #FF900E;
 }


 main{
  max-width: 1440px;
  margin: 0 auto;
 }
 .teams{
  align-items: center;
 }
 .team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

 }
 main > section{
  margin-top: 130px;
 }
 .section-title{
  font-size: 2.8rem;
  font-weight: 700;
 }
 #of-our{
  font-weight: 500;

 }
 
 .our-feature{
  margin-left: 130px;
  max-width: 530px;

 }

 /* fact-card relative */

 .fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 }
 .fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;

 }
 .fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
 }
 .fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
 }
 .fact-discription{
  max-width: 540px;
 }
 /* our response */

 .our-container{
  max-width: 550px;
  margin: 50px auto;
  text-align: center;
 }

 .sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
 }
 .sponsor-companies img{
  filter: grayscale(100%);
 }

